.list-item-container {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  margin: 0 3em 0 3em;
  font-size: 13pt;
  padding: 2em 0 2em 0;
  display: flex;
  .list-item-left-subcontainer {
    width: 100%;
    padding-left: 2em;
    align-items: center;
    .title {
      color: #333;
      font-weight: 600;
    }
    .author {
      color: #999;
      margin-left: 10px;
    }
    .time-container {
      padding-right: 10px;
    }
  }
  .list-item-right-subcontainer {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    .time {
      color: #333;
      font-weight: 600;
    }
    .trash {
      visibility: hidden;
      margin: 0 2em 0 2em;
      font-size: larger;
    }
  }
  &:hover {
    background-color: #fafafa;
    cursor: pointer;
    .list-item-right-subcontainer .trash {
      visibility: visible;
    }
  }
}