<div class="list-item-container"  (click)="openUrl()">
  <div class="list-item-left-subcontainer">
    <span class="title">{{article.story_title || article.title}}</span>
    <span class="author">{{'- '+ article.author + ' -' }}</span>
  </div>
  <div class="list-item-right-subcontainer">
    <div class="time-container">
      <span class="time">{{article.created_at | time}}</span>
    </div>
    <div class="trash" (click)="removeAction($event)">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
        focusable="false" width="1em" height="1em"
        style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <path d="M9 3v1H4v2h1v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1V4h-5V3H9m0 5h2v9H9V8m4 0h2v9h-2V8z" fill="#626262" />
      </svg>
    </div>
  </div>
</div>
