<div>
  <virtual-scroller #scroll [items]="buffer" (vsEnd)="fetchMore($event)">
    <list-item *ngFor="let article of scroll.viewPortItems" [article]="article" (remove)="remove(article._id)">
    </list-item>
    <div *ngIf="loading" class="status-indicator">Loading...</div>
    <div *ngIf="empty" class="status-indicator">No more data..</div>
  </virtual-scroller>
</div>