.header {
  background-color: #333333;
  color: white;
  padding: 5rem 0 5rem 4rem;
  .title {
    font-size: 4rem;
    font-weight: bolder;
    display: block;
  }
  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
